<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


<style>
a{
  color:lightgray;
  font-size: 17px;
}
a:hover,li:hover{
  background: #838e9e;
  color: black;
  border-radius: 8px;
}
  #jumbo{
    background:rgba(5, 22, 48,0.4);
    text-align: center;
    margin-top:200px;
  }
  body{
  background:white;
  height: 760px;
  color: black;
  }

  }

  #tt{
    height: 80%;
  }
  #abt{
    display: none;
    margin-top: 100px;
  }
  #gl{
    margin-top: 50px;
    display: block;
width: 100%;
margin-left: 720px;
height: 100px;
}
h2{
  width: 100%;
    margin-top: 75px;

}
.my a{
  color:white;
}

#myclass{
  display:none;
  width:30%;
  margin:auto;
  padding:10px;

  margin-top:50px;
  background:white;
  height:500px;
  color:black;
  border-radius:8px;
  box-shadow:0 0 2px 2px white;
}
#myclass2{
  display:none;
  width:20%;
  margin:auto;
  padding:10px;
  margin-top:50px;
  background:white;
  height:450px;
  color:black;
  border-radius:8px;
  box-shadow:0 0 2px 2px white;
}
#myclass3{
  display:none;
  width:20%;
  margin:auto;
  padding:10px;
  margin-top:50px;
  background:white;
  height:450px;
  color:black;
  border-radius:8px;
  box-shadow:0 0 2px 2px white;


}
label{
  font-size:15px;

}
#topnav{
  background:#051630;
}
#disn {
  display: none;
}
.d-flex {
  margin-left: 180px;
  margin-right: 180px;
}
button {
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
}


</style>
  </head>
  <body>
    <div id="topnav">
    <nav class="navbar navbar navbar-fixed-top" id="topnav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">3PWM</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a  href="#">About</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
       <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/collector-profile">Orders</a></li>
            <li><a href="login-c.html">Settings</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </li>
        </ul>
</div>
</div>
<div class="d-flex flex-column mb-3" ng-app="" ng-init='items= <%- result %>'>
  <h2>Accepted Orders</h2>
  <br>
   <div class="p-2 " id="flex" ng-repeat="item in items">
    <div class="m" id="{{item._id}}">
      <p>Waste Type Generated: {{item.inputType}}</p>
      <p id="disn">Address : {{item.address1}}, {{item.address2}}</p>
     <p id="disn">City: {{item.inputCity}}</p>
     <p>State: {{item.inputState}}</p>
     <p>Date: {{item.inputDate}}</p>
     <p id="disn">Repeat : {{item.schedule}}</p>
     <p id="disn">Accepted by : {{item.wca}}</p>
     <br>
   </div>
   <hr>
 </div>

 </div>




  </body>
</html>
