<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<style>
a{
  color:lightgray;
  font-size: 17px;
}
a:hover,li:hover{
  background: #838e9e;
  color: black;
  border-radius: 8px;
}
  #jumbo{
    background:rgba(5, 22, 48,0.4);
    text-align: center;
    margin-top:200px;
  }
  body{
  background:#051630;
  height: 760px;
  color: white;
  }

  }

  #tt{
    height: 80%;
  }
  #abt{
    display: none;
    margin-top: 100px;
  }
  #gl{
    margin-top: 50px;
    display: block;
width: 100%;
margin-left: 720px;
height: 100px;
}
h2{
  width: 100%;
    margin-top: 75px;

}
.my a{
  color:white;
}

#myclass{
  display:none;
  width:40%;
  margin:auto;
  margin-top:50px;
  background:white;
  height:900px;
  color:black;
  border-radius:8px;
  box-shadow:0 0 2px 2px white;
}
#myclass2{
  display:none;
  width:40%;
  margin:auto;
  margin-top:50px;
  background:white;
  height:900px;
  color:black;
  border-radius:8px;
  box-shadow:0 0 2px 2px white;
}
#myclass3{
  display:none;
  width:40%;
  margin:auto;
  margin-top:50px;
  background:white;
  height:900px;
  color:black;
  border-radius:8px;
  box-shadow:0 0 2px 2px white;


}
label{
  font-size:15px;

}
h3{
  padding-left:15px;
}




</style>
  </head>
  <body>
    <div id="topnav">
    <nav class="navbar navbar navbar-fixed-top" id="topnav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">3PWM</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a  href="#">About</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <!-- <ul class="nav navbar-nav navbar-right">
      <li>
       <a href="#>"<span class="glyphicon glyphicon-user"></span>SignUp
      </a>
     </li>
       <li>
          <a href="#"><span class="glyphicon glyphicon-log-in"></span>Login
          </a>

        </li>
        </ul> -->
  </div>
</nav>
</div>
<h2><h2>
<div class="my">


  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link " id="1" href="#">Producer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="2" href="#">Collector</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="3" href="#">Recycler</a>
    </li>
  </ul>
</div>
<div class="myclass" id="myclass">
    <form method="post" action="/wps">
      <br>
      <h3>Sign Up</h3>
      <br><br>
      <div class="form-group col-md-6">
        <label for="inputType">Type</label>
        <select id="inputType" class="form-control" name="inputType">
          <option selected>Choose...</option>
          <option value="Individual">Individual</option>
          <option value="Institute">Institute</option>
          <option value="Industry">Industry</option>
        </select>
      </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="name">Full Name</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Full Name" name="fullName">
    </div>
    <div class="form-group col-md-12">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
    </div>
    <div class="form-group col-md-12">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="pass">
    </div>
  </div>
  <div class="form-group col-md-12">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address1">
  </div>
  <div class="form-group col-md-12">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="address2">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity" name="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control" name="inputState">
        <option selected>Choose...</option>
        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
        <option value="Andhra Pradesh">Andhra Pradesh</option>
        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
        <option value="Assam">Assam</option>
        <option value="Bihar">Bihar</option>
        <option value="Chandigarh">Chandigarh</option>
        <option value="Chhattisgarh">Chhattisgarh</option>
        <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
        <option value="Daman and Diu">Daman and Diu</option>
        <option value="Delhi">Delhi</option>
        <option value="Goa">Goa</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Haryana">Haryana</option>
        <option value="Himachal Pradesh">Himachal Pradesh</option>
        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
        <option value="Jharkhand">Jharkhand</option>
        <option value="Karnataka">Karnataka</option>
        <option value="Kerala">Kerala</option>
        <option value="Lakshadweep">Lakshadweep</option>
        <option value="Madhya Pradesh">Madhya Pradesh</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Manipur">Manipur</option>
        <option value="Meghalaya">Meghalaya</option>
        <option value="Mizoram">Mizoram</option>
        <option value="Nagaland">Nagaland</option>
        <option value="Orissa">Orissa</option>
        <option value="Pondicherry">Pondicherry</option>
        <option value="Punjab">Punjab</option>
        <option value="Rajasthan">Rajasthan</option>
        <option value="Sikkim">Sikkim</option>
        <option value="Tamil Nadu">Tamil Nadu</option>
        <option value="Tripura">Tripura</option>
        <option value="Uttaranchal">Uttaranchal</option>
        <option value="Uttar Pradesh">Uttar Pradesh</option>
        <option value="West Bengal">West Bengal</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip" name="inputZip">
    </div>
  </div>
<div class="form-group col-md-4">
  <button type="submit" class="btn btn-primary">Sign Up</button>
</div>
</form>

</div>
<div class="myclass" id="myclass2">
    <form method="post" action="/wcs">
      <br>
<h3>Sign Up</h3>
      <br><br>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="name">Name Of Organisation</label>
      <input type="text" name="fullName" class="form-control" id="inputEmail4" placeholder="Full Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputType">Type</label>
      <select id="inputType" class="form-control" name="inputType">
        <option selected>Choose...</option>
        <option value="NGO">NGO</option>
        <option value="Government">Government</option>
      </select>
    </div>
    <div class="form-group col-md-12">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
    </div>
    <div class="form-group col-md-12">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="pass">
    </div>
  </div>
  <div class="form-group col-md-12">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address1">
  </div>
  <div class="form-group col-md-12">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="address2">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity" name="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control" name="inputState">
        <option selected>Choose...</option>
        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
<option value="Andhra Pradesh">Andhra Pradesh</option>
<option value="Arunachal Pradesh">Arunachal Pradesh</option>
<option value="Assam">Assam</option>
<option value="Bihar">Bihar</option>
<option value="Chandigarh">Chandigarh</option>
<option value="Chhattisgarh">Chhattisgarh</option>
<option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
<option value="Daman and Diu">Daman and Diu</option>
<option value="Delhi">Delhi</option>
<option value="Goa">Goa</option>
<option value="Gujarat">Gujarat</option>
<option value="Haryana">Haryana</option>
<option value="Himachal Pradesh">Himachal Pradesh</option>
<option value="Jammu and Kashmir">Jammu and Kashmir</option>
<option value="Jharkhand">Jharkhand</option>
<option value="Karnataka">Karnataka</option>
<option value="Kerala">Kerala</option>
<option value="Lakshadweep">Lakshadweep</option>
<option value="Madhya Pradesh">Madhya Pradesh</option>
<option value="Maharashtra">Maharashtra</option>
<option value="Manipur">Manipur</option>
<option value="Meghalaya">Meghalaya</option>
<option value="Mizoram">Mizoram</option>
<option value="Nagaland">Nagaland</option>
<option value="Orissa">Orissa</option>
<option value="Pondicherry">Pondicherry</option>
<option value="Punjab">Punjab</option>
<option value="Rajasthan">Rajasthan</option>
<option value="Sikkim">Sikkim</option>
<option value="Tamil Nadu">Tamil Nadu</option>
<option value="Tripura">Tripura</option>
<option value="Uttaranchal">Uttaranchal</option>
<option value="Uttar Pradesh">Uttar Pradesh</option>
<option value="West Bengal">West Bengal</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip" name="inputZip">
    </div>
  </div>
<div class="form-group col-md-4">
  <button type="submit" class="btn btn-primary">Sign Up</button>
  </div>
</form>
</div>

<div class="myclass" id="myclass3">
    <form method="post" action="/wrs">
      <br>
<h3>Sign Up</h3>
      <br><br>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="name">Name Of Organisation</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Full Name" name="fullName">
    </div>
    <div class="form-group col-md-6">
      <label for="inputType">Type Of Waste Recycled</label>
      <select id="inputType" class="form-control" name="inputType">
        <option selected>Choose...</option>
        <option value="Metals">Metals</option>
        <option value="Paper">Paper</option>
        <option value="Glass">Glass</option>
        <option value="Plastic">Plastic</option>
        <option value="Electronics">Electronics</option>
        <option value="Organic">Organic(Food,grass,etc.)</option>
        <option value="Toxic">Toxic</option>
      </select>
    </div>
    <div class="form-group col-md-12">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
    </div>
    <div class="form-group col-md-12">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="pass">
    </div>
  </div>
  <div class="form-group col-md-12">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address1">
  </div>
  <div class="form-group col-md-12">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="address2">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity" name="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control" name="inputState">
        <option selected>Choose...</option>
        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
<option value="Andhra Pradesh">Andhra Pradesh</option>
<option value="Arunachal Pradesh">Arunachal Pradesh</option>
<option value="Assam">Assam</option>
<option value="Bihar">Bihar</option>
<option value="Chandigarh">Chandigarh</option>
<option value="Chhattisgarh">Chhattisgarh</option>
<option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
<option value="Daman and Diu">Daman and Diu</option>
<option value="Delhi">Delhi</option>
<option value="Goa">Goa</option>
<option value="Gujarat">Gujarat</option>
<option value="Haryana">Haryana</option>
<option value="Himachal Pradesh">Himachal Pradesh</option>
<option value="Jammu and Kashmir">Jammu and Kashmir</option>
<option value="Jharkhand">Jharkhand</option>
<option value="Karnataka">Karnataka</option>
<option value="Kerala">Kerala</option>
<option value="Lakshadweep">Lakshadweep</option>
<option value="Madhya Pradesh">Madhya Pradesh</option>
<option value="Maharashtra">Maharashtra</option>
<option value="Manipur">Manipur</option>
<option value="Meghalaya">Meghalaya</option>
<option value="Mizoram">Mizoram</option>
<option value="Nagaland">Nagaland</option>
<option value="Orissa">Orissa</option>
<option value="Pondicherry">Pondicherry</option>
<option value="Punjab">Punjab</option>
<option value="Rajasthan">Rajasthan</option>
<option value="Sikkim">Sikkim</option>
<option value="Tamil Nadu">Tamil Nadu</option>
<option value="Tripura">Tripura</option>
<option value="Uttaranchal">Uttaranchal</option>
<option value="Uttar Pradesh">Uttar Pradesh</option>
<option value="West Bengal">West Bengal</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip" name="inputZip">
    </div>
  </div>
<div class="form-group col-md-4">
  <button type="submit" class="btn btn-primary">Sign Up</button>
  </div>
</form>
</div>

<script>
  $(document).ready(function(){
    $("#1").click(function(){

      $("#myclass2").hide(1000);
      $("#myclass").show(1000);
      $("#myclass3").hide(1000);




    })
    $("#2").click(function(){
      $("#myclass").hide(1000);
      $("#myclass2").show(1000);
      $("#myclass3").hide(1000);
    })
    $("#3").click(function(){
      $("#myclass").hide(1000);
      $("#myclass3").show(1000);
      $("#myclass2").hide(1000);
    })
  });

</script>

  </body>
</html>
